/.clerk/
/.clj-kondo/.cache/
/.clj-kondo/.lock
/.clj-kondo/imports/
/.clj-kondo/inline-configs/
/.cpcache/
/.direnv/
/.eastwood
/.envrc
/.lsp/
/.portal/
/data/
/node_modules/
/storage
/tx-log
/result
