{:paths ["src/babashka"]

 :tasks
 {build
  {:task (shell "nix build .")}

  check
  {:doc     "Check formatting of code"
   :depends [cljfmt]}

  ci
  {:depends [ci-all]}

  ci-all
  {:doc     "Run comprehensive local validation"
   :depends [lint eastwood test update-deps-lock build]}

  ci-local
  {:doc     "Run local validation checks"
   :depends [lint test]}

  clean
  {:doc "Remove generated resources"
   :task
   (do
     (shell "sh -c \"rm -rf classes/*\"")
     (shell "rm -rf target")
     (shell "sh -c \"rm -rf .clerk/cache/*\""))}

  cljfmt
  {:doc  "Check formatting of code using cljfmt"
   :task (shell "clojure -M:cljfmt")}

  eastwood
  {:doc  "Validate Code with eastwood"
   :task (shell "clojure -M:eastwood")}

  format
  {:doc  "Fix all formatting errors"
   :task (shell "clojure -M:cljfmt/fix")}

  lint
  {:doc     "Check all code issues"
   :depends [check validate]}

  test
  {:task (shell "true")}

  update-deps-lock
  {:task (shell "nix run github:jlesquembre/clj-nix#deps-lock")}

  validate
  {:doc     "Check for coding violations"
   :depends [eastwood]}}}
