{:paths ["src/main" "src/notebooks"]

 :deps
 {cheshire/cheshire                 {:mvn/version "5.13.0"}
  cider/cider-nrepl                 {:mvn/version "0.49.2"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
  com.taoensso/timbre               {:mvn/version "6.6.1"}
  com.xtdb/xtdb-core                {:mvn/version "2.0.0-beta2"}
  com.xtdb/xtdb-http-client-jvm     {:mvn/version "2.0.0-beta2"}
  io.github.nextjournal/clerk       {:mvn/version "0.17.1102"}
  mount/mount                       {:mvn/version "0.1.20"}
  org.postgresql/postgresql         {:mvn/version "42.7.4"}}

 ;; JVM options required for in-process node
 :aliases {:xtdb {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                             "-Dio.netty.tryReflectionSetAccessible=true"]}}}
